$content-color: #fff;
$clear-light: #9ad2ff;
$clear-dark: #074170;
$cloudy-light: #85a0b6;
$cloudy-dark: #263948;
$night-light: #14466d;
$night-dark: #0e0f1e;
$sunny-light: #ffd595;
$sunny-dark: #ff7a00;
